
* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    /* border: 1px solid black; */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px 30px;
    display: flex;
    box-shadow: 0 1px 5px rgb(180, 180, 180);
    z-index: 1;
    align-items: center;
}

#site-title {
    margin-left: 10px;
    font-size: 30px;
}



#logo>img {
    height: 50px;
}



main {
    flex: auto;
    background-color: rgb(245, 245, 245);
}

#library {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.book-card {
    box-shadow: 0 1px 5px rgb(180, 180, 180);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 200px;
    min-height: 200px;
    border-radius: 4px;
}

.new-book {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-book:hover {
    cursor: pointer;
}

.add-button {
    height: 40px;
    filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(167deg) brightness(92%) contrast(95%);
    transition: 0.5s;
}

.add-button:hover {
    filter: invert(0%) sepia(4%) saturate(7485%) hue-rotate(162deg) brightness(103%) contrast(105%);
    transition: 0.5s;
}

.remove-button {
    float: right;
    margin: 0 0 10px 10px;
    height: 40px;
    filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(167deg) brightness(92%) contrast(95%);
    transition: 0.5s;
}

.remove-button:hover {
    cursor: pointer;
    filter: invert(0%) sepia(4%) saturate(7485%) hue-rotate(162deg) brightness(103%) contrast(105%);
    transition: 0.5s;
}

.book-card>div {
    margin-bottom: 15px;
}

.info-key {
    color: rgb(100, 100, 100)
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#add-book-modal {
    display: none;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal-content label {
    font-size: 16px;
}
.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 16px 0;
    border: 1px solid #888;
    border-radius: 4px;
    box-sizing: border-box;
}

.close-modal {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover, #add-book:hover {
    cursor: pointer;
}

#add-book {
    padding: 12px 20px;
    margin-top: 16px;
    border: 1px solid #888;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
}

#gh-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#gh-logo {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
    transform: rotate(360deg) scale(1.2);
}

.attribute {
    font-size: 14px;
    margin-bottom: 6px;
}